<div class="playingCards faceImages">
  <app-card *ngFor="let card of twoCards"
            [rank]="card['rank']"
            [suit]="card['suit']"></app-card>
</div>
<button (click)="getMoreCard()" [disabled]="getScore() >= 21">Give another card</button>
<button (click)="getNewArray()">Reset</button>
<hr>
<span>Total score: {{getScore()}}</span>
<p *ngIf="getScore() === 21">You win!</p>
<p *ngIf="getScore() > 21">You lose!</p>

